canvas, .game-ui {
    display: inline-block;
}

.game-ui {
    vertical-align: top;
}

.status-container {
    display: block;
    position: absolute;
}

.button-container {
    margin-bottom: 15px;
}
