canvas, .game-info {
    display: inline-block;
}

.game-info {
    vertical-align: top;
}

.status-info {
    display: block;
    position: absolute;
}

table {
   border-collapse: collapse;
   border: 1px solid black;
}

table td, table th {
   border: 1px solid black;
}

button {
    display: block;
    margin: 10px 0;
}
